# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Agentic Coding Guide
Agentic_Coding_Guide_Nuxt.md

# Project Documentation
docs

# AI Configurations
.gemini
.cursor
.agent
.codex
.replit